name: Continuous Deployment

on:
  push:
    branches:
      - main

concurrency:
  group: ${{ github.workflow }}
  cancel-in-progress: true

jobs:
  ci:
    uses: ./.github/workflows/ci.yaml

  deploy:
    needs: ci
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v5
      - uses: digitalocean/app_action/deploy@f4c57e650e1dec6665ad5d3af739b67b9d31aab1
        env:
          REPOSITORY_ROOT_URI: ${{ vars.REPOSITORY_ROOT_URI }}
        with:
          token: ${{ secrets.DIGITALOCEAN_DEPLOYMENT }}
          print_build_logs: true
          print_deploy_logs: true
