name: Continuous Integration

on:
  push:
    branches-ignore:
      - main
  workflow_call:

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: opensafely-core/setup-action@v1
        with:
          install-just: true
          install-uv: true
          cache: uv
      - run: just check

  test:
    needs: check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6
      - uses: opensafely-core/setup-action@v1
        with:
          install-just: true
          install-uv: true
          cache: uv
      - run: just devenv
      - run: just test
